$primaryColor: #ff00ae;
$Background: #bb8c8c;
$MenuColor: rgba(255, 0, 89, 0.2);
$Border1: rgba(221, 0, 255, 0.65);
$Border2: gold;
$Border3: rgba(28, 129, 183, 0.75);
$Shadow: #d0b0b0;

$iconcheck: url(../../Icons/check_circle_white_24dp.svg);
$icon2check: url(../../Icons/done_all_white_24dp.svg);
$iconSingleCheck: url(../../Icons/done_white_24dp.svg);
$iconStar: url(../../Icons/grade_white_24dp.svg);
$iconMinimizer: url(../../Icons/maximize_white_24dp.svg);

$font1: 'Open Sans', sans-serif;
$font2: 'Roboto', sans-serif;
