$Primary: #ff00ae;
$ColorShadow: rgb(194, 132, 132);
$ColorPink: rgba(255, 0, 89, 0.85);
$ColorGreen: #55DFB4;
$ColorBlack: #000000;
$ColorWhite: #ffffff;
$ColorGrey: #A5A5A5;
$ColorLightGrey: rgba(187, 140, 156, 0.89);

$font1: 'Open Sans Condensed', sans-serif;
$font2: 'Lato', sans-serif;