@import "../seetings/mixins";
@import "../seetings/fonts-colors-icons";
@import "../main1";
@import "opening";

.btn {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: 35px;
  border: none;


  &--primary {
    background-color: $MenuColor;
    border-radius: 35px;
    box-shadow: 3px 10px 14px $Shadow;
  }

  &--redish {
    background-color: $Border1;
  }

  &--green {
    background-color: $Border2;
  }

  &--large {
    padding: 22px 155px;
    background: #bb8c8c;
  }
}

